.main-container{
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  cursor: pointer;
  margin: 5px 5px;
}

.value-label{
  font-size: 20;
  cursor: pointer;
}

.container-selected{
  border: 2px solid blue;
}
