<div class="d-flex flex-row w-100 p-3 h-100">
  <div class="friends-left-container d-flex flex-column">
    <label class="title pb-4">{{ 'Friends.Title' | translate }}</label>
    <div *ngIf="friendRequests.length !== 0">
      <label class="friend-request-title">{{ 'Friends.FriendRequests' | translate }}</label>
      <mat-list class="pb-2">
        <mat-list-item *ngFor="let request of friendRequests; let even = even">
          <div class="d-flex flex-row justify-between align-center w-100" [ngClass]="{ 'odd-row': even }">
            <label class="pl-2">{{ request.requesterUserName }}</label>
            <div>
              <button mat-icon-button (click)="acceptFriendRequest(request.id)">
                <mat-icon class="green-icon">done</mat-icon>
              </button>
              <button mat-icon-button (click)="declineFriendRequest(request.id)">
                <mat-icon class="red-icon">close</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="friends-friends-container d-flex flex-column w-100">
      <div class="friends-add-friend-container d-flex flex-row w-100 pr-2 pl-2 align-center">
        <mat-form-field appearance="standard">
          <mat-label>{{ 'Friends.AddFriendPlaceHolder' | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="addFriendField" />
        </mat-form-field>

        <button mat-icon-button (click)="sendFriendRequest()">
          <mat-icon class="add-friend-icon">add_circle</mat-icon>
        </button>
      </div>
      <mat-action-list>
        <mat-list-item *ngFor="let friend of friends; let even = even" (click)="friendClicked(friend.userName!)">
          <div class="d-flex flex-row justify-between align-center w-100" [ngClass]="{ 'odd-row': even }">
            <div class="d-flex flex-row align-center">
              <label class="pl-2" [ngClass]="{ 'newmessage-text': friend.newMessagesCount > 0 }">{{
                friend.userName
              }}</label>
            </div>
            <button mat-icon-button (click)="challenge(friend.userName)">
              <img class="battle-icon" src="assets/icons/battle.png" />
            </button>
          </div>
        </mat-list-item>
      </mat-action-list>
    </div>
  </div>
  <app-friends-chat class="w-65"></app-friends-chat>
</div>
