@import 'src/themes/variables.scss';

:host {
  @include full-page-layout;
}

.title{
  font-size: 28px;
  font-weight: bold;
}

.friend-request-title{
  font-size: 16px;
  font-weight: 500;
}

.friends-left-container{
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.friends-friends-container{

}

.friends-add-friend-container{
  margin-bottom: -20px;
}

.add-friend-icon{
  color: green;
  padding-top: 10px;
}

.red-icon{
  color: red;
}

.green-icon{
  color: green;
}

.battle-icon{
  width: 24px;
}

.odd-row {
  background-color: lightgray;
}

.newmessage-text{
  color: orangered
}

::ng-deep .mat-list-item{
  height: 40px !important;
}

.add-friend-input{
  width: 250px;
}

.selected-friend-row{
  background-color: blue;
  color: white;
}
