.container{
  width: 208px;
  height: 70px;
  border: 2px solid transparent;
  background-color: var(--bg2);
}

.counter-counting-container {
  border: 2px solid var(--primary);
  background-color: var(--bg3);
}

.counter-label{
  font-size: 52px;
  opacity: 50%;
}

.counter-counting-label {
  opacity: 100%;
}
