@import 'src/themes/variables.scss';

:host {
  @include full-height;
  height: calc(100% - $header-height) !important
}

.main-container{
  width: 1000px;
}

.chat-area{
  border-radius: 2px;
  background-color: var(--bg2);
}

.messages{
  flex-direction: column-reverse;
  overflow: auto;
}

.odd-row {
  background-color: var(--bg2);
}

.even-row {
  background-color: var(--bg3);
}

.main-label{
  font-size: 22px;
}

.big-button{
  width: 185px;
  height: 60px;
  font-size: 20px;
}

.info-panel{
  background-color: var(--bg2);
  height: fit-content;
}

.main-part{
  padding-top: 80px;
}

