@import 'src/themes/variables.scss';

:host {
  @include full-page-layout;
}

.title{
  font-size: 32px;
  font-weight: bold;
}

.main-container{
  width: 900px;
  align-self: center;
}

.games-container{
  width: 90%;
  flex: 1;
  overflow: auto;
  align-self: center;
}

.list-row{
  height: 80px;
  width: 100%;
}

.even-row{
  background-color: var(--bg2);
}

.odd-row{
  background-color: var(--bg3);
}

.text{
  font-size: 16px;
}

.list-item{
  height: 80px !important;
  display: flex !important;
}

::ng-deep .mat-list-item-content{
  width: 100%;
}
