@import 'src/themes/variables.scss';

:host{
  @include full-page-layout;
}

.data-column{
  height: 700px;
}

.overflow-outer{
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
}

.history{
  overflow-y: auto;
  width: 200px;
  flex-direction: column-reverse;
}

.middle-part{
  background-color: var(--bg2);
}

.pot-label{
  font-weight: bold;
  font-size: 18px;
}

.orange-color{
  color: orange
}

.move-label{
  padding-bottom: 2px;
  border-bottom: 2px transparent;
  margin: 0px 4px;
  padding: 0px 4px;
  width: 42%;
}

.move-selected{
  background-color: var(--bg3);
  border-bottom: 2px solid var(--primary);
}

::ng-deep .mat-icon-button{
  width: 30px !important;
}

.user-label{
  font-size: 16px;
  font-weight: 500;
}

.history-row{
  height: 30px;
}

.clock-middle-height{
  max-height: 520px;
}

.full-middle-height{
  height: 596px;
}
