<ng-container *ngIf="matchData$ | async as data">
  <div class="d-flex flex-row main-container justify-center align-center h-100">
    <div class="d-flex flex-column justify-center">
      <div *ngIf="orientation === 'white'" class="d-flex flex-row pb-1">
        <label class="pr-half user-label">{{ data.blackUserName }}</label>
        <label class="user-label">{{ '(' + data.blackRating + ')' }}</label>
      </div>
      <div *ngIf="orientation === 'black'" class="d-flex flex-row pb-1">
        <label class="pr-half user-label">{{ data.whiteUserName }}</label>
        <label class="user-label">{{ '(' + data.whiteRating + ')' }}</label>
      </div>

      <app-chess-board
        [matchId]="matchId"
        [color]="getColorFromData(data)"
        [matchData]="data"
        (startBettingEvent)="startBetting(data)"
        [moveEvent]="moveMadeSubject.asObservable()"
        (ownMoveMade)="ownMoveMade($event)"
        [matchEndedEvent]="matchEndedSubject.asObservable()"
        (historyOutput)="updateHistory($event)"
        (gameOverEvent)="gameOver()"
        [loadFenEvent]="setFenSubject.asObservable()"
        [historyMode]="data.isHistoryMode"
        [moves]="data.moves"
        [flipBoardEvent]="flipBoardSubject.asObservable()"
        (loadHistoryEvent)="loadFullHistory($event)"
      ></app-chess-board>

      <div *ngIf="orientation === 'white'" class="d-flex flex-row pt-1">
        <label class="pr-half user-label">{{ data.whiteUserName }}</label>
        <label class="user-label">{{ '(' + data.whiteRating + ')' }}</label>
      </div>
      <div *ngIf="orientation === 'black'" class="d-flex flex-row pt-1">
        <label class="pr-half user-label">{{ data.blackUserName }}</label>
        <label class="user-label">{{ '(' + data.blackRating + ')' }}</label>
      </div>
    </div>
    <div class="d-flex flex-column pl-3 data-column">
      <app-countdown-timer
        *ngIf="!data.isHistoryMode"
        #oppCd
        [TimeMSec]="data.timeLimitMinutes * 60000"
        [IncrementMSec]="data.increment * 1000"
      ></app-countdown-timer>
      <label class="pot-label pt-1">{{
        ('Game.CurrentPot' | translate) + (potAfterBetting ?? data.minimumBet) + '$'
      }}</label>
      <div class="flex-1 pt-2 pb-2 history">
        <div *ngFor="let move of history; let i = index; let even = even">
          <div class="d-flex flex-row align-center" *ngIf="even">
            <label>{{ getMoveNumberFromMove(i) + '.' }}</label>
            <label
              (click)="moveToSpecificPosition(i)"
              class="move-label"
              [ngClass]="{ 'move-selected': currentlySelectedMove === i }"
              >{{ move.move.san }}</label
            >
            <label
              (click)="moveToSpecificPosition(i + 1)"
              *ngIf="history[i + 1]"
              class="move-label"
              [ngClass]="{ 'move-selected': currentlySelectedMove === i + 1 }"
              >{{ history[i + 1].move.san }}</label
            >
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-between align-center actions">
        <div *ngIf="!data.isHistoryMode" class="d-flex flex-row align-center">
          <button mat-icon-button (click)="resign()" matTooltip="{{ 'Game.ResignToolTip' | translate }}">
            <mat-icon>flag</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="draw()"
            [ngClass]="{ 'orange-color': hasOngoingDrawOffer }"
            matTooltip="{{ 'Game.DrawTooltip' | translate }}"
          >
            <mat-icon>compare_arrows</mat-icon>
          </button>
        </div>
        <div *ngIf="data.isHistoryMode" class="d-flex flex-row align-center">
          <button mat-icon-button (click)="flipBoard()" matTooltip="{{ 'Game.FlipBoardToolTip' | translate }}">
            <mat-icon>swap_vert</mat-icon>
          </button>
        </div>
        <div class="d-flex flex-row align-center">
          <button mat-icon-button (click)="moveToStart()">
            <mat-icon>first_page</mat-icon>
          </button>
          <button mat-icon-button (click)="moveBack()"><mat-icon>navigate_before</mat-icon></button>
          <button mat-icon-button (click)="moveForward()"><mat-icon>navigate_next</mat-icon></button>
          <button mat-icon-button (click)="moveToLast()"><mat-icon>last_page</mat-icon></button>
        </div>
      </div>

      <app-countdown-timer
        *ngIf="!data.isHistoryMode"
        #ownCd
        [TimeMSec]="data.timeLimitMinutes * 60000"
        [IncrementMSec]="data.increment * 1000"
        (timeRanOutEvent)="ownTimeRanOut()"
      ></app-countdown-timer>
    </div>
  </div>
</ng-container>
