@import 'src/themes/variables.scss';

.header-conatiner{
  height: $header-height;
  background-color: var(--bg2);
  font-size: 18px;
}

.nav-link{
  width: 120px;
  padding-top: 45px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

a:link, a:visited{
  color: var(--text-color);
  text-decoration: none;
}

nav{
  display: flex;
}

.nav-label{
  cursor: pointer;
}

.nav-link:hover, .nav-link-selected{
  background-color: lightslategray;
}

.header-user-info-container{
  padding-top: 30px;
  padding-right: 20px;
}
