@page "/success"
@inject IJSRuntime JsRuntime;

<div>
    <label>Successful login!</label>
    <button>Back to app</button>
</div>

@code {
    public string Token { get; set; }

    protected override async Task<Task> OnInitializedAsync()
    {
        Token = await JsRuntime.InvokeAsync<string>("getToken");
        return base.OnInitializedAsync();
    }

}
