@inject IJSRuntime JsRuntime;
@page "/"
@using Android.Content
@inject NavigationManager NavigationManager

<div class="main-container">
    <label class="welcome-label">Welcome to High-Stakes Chess!</label>
    <label class="welcome-label mb-50">Log in below!</label>
    <button @onclick="LoginClicked">Log in</button>
    <label class="welcome-label mb-50">@NavigationManager.Uri</label>
    <label class="welcome-label mb-50">@Token</label>
</div>

@code {

    public static string Token { get; set; }

    public async Task LoginClicked()
    {
        await JsRuntime.InvokeAsync<string>("login");
    }

    [JSInvokable]
    public static Task LoggedIn(string token)
    {
        Token = token;
        return Task.CompletedTask;
    }
}
