.title{
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
  align-self: center;
}

.inputLabel{
  font-weight: 500;
  font-size: 16px;
}

.create-button{
  align-self: center;
  margin-top: 16px;
}
