<div class="d-flex flex-column">
  <div class="d-flex flex-row justify-between menu-row align-center">
    <label class="font-weight-bold">{{ data.userName }}</label>
    <label class="font-weight-bold">{{ data.balance + '$' }}</label>
  </div>
  <!--<div class="d-flex flex-row justify-between align-center menu-row">
    <label>{{ 'Menu.RealMoney' | translate }}</label>
    <mat-slide-toggle [(ngModel)]="!isUsingRealMoney" (toggleChange)="realMoneySwitchChanged()"></mat-slide-toggle>
  </div>-->
  <div class="d-flex flex-row justify-between align-center menu-row">
    <label>{{ 'Menu.DarkTheme' | translate }}</label>
    <mat-slide-toggle [checked]="isCurrentlyDarkTheme" (change)="toggleDarkTheme($event.checked)"></mat-slide-toggle>
  </div>
  <div class="d-flex flex-row align-center menu-row">
    <a href="/cashier">{{ 'Menu.Cashier' | translate }}</a>
  </div>
  <div class="d-flex flex-row justify-between align-center menu-row">
    <label>{{ 'Menu.Language' | translate }}</label>
    <mat-select [(ngModel)]="currentLanguage" (selectionChange)="changeLanguage($event.value)">
      <mat-option *ngFor="let lang of languages" [value]="lang">
        {{ 'Menu.Language.' + lang | translate }}
      </mat-option>
    </mat-select>
  </div>
  <div class="d-flex flex-row align-center menu-row menu-logout-padding justify-end">
    <button mat-button color="warn" (click)="logout()">{{ 'Menu.Logout' | translate }}</button>
  </div>
</div>
