.title{
  font-weight: bold;
  font-size: 20px;
}

.reason{
  font-size: 16px;
}

.victory-winnings-label{
  font-size: 16px;
  font-weight: bold;
  color: green;
}

.defeat-winnings-label{
  font-size: 16px;
  font-weight: bold;
  color: red;
}

.draw-winnings-label{
  font-size: 16px;
  font-weight: bold;
  color: black;
}
