<div class="d-flex justify-center align-center w-80 h-80" *ngIf="selectedUserName === ''">
  <label>{{ 'Friends.Chat.SelectUser' | translate }}</label>
</div>
<div *ngIf="selectedUserName !== ''" class="friend-chat-container d-flex flex-column">
  <div class="friend-chat-area">
    <div *ngFor="let msg of messages">
      <label>{{ msg.senderUserName + ': ' + msg.message }}</label>
    </div>
  </div>
  <div class="d-flex flex-row">
    <input #messageInput matInput type="text" [(ngModel)]="message" />
    <button mat-icon-button (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
