@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
  50 : #e0edfc,
  100 : #b3d2f6,
  200 : #80b4f1,
  300 : #4d96eb,
  400 : #2680e6,
  500 : #0069e2,
  600 : #0061df,
  700 : #0056da,
  800 : #004cd6,
  900 : #003bcf,
  A100 : #f6f8ff,
  A200 : #c3d0ff,
  A400 : #90a8ff,
  A700 : #7794ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$secondary-palette: (
  50 : #fff2e0,
  100 : #fedeb3,
  200 : #fec880,
  300 : #fdb14d,
  400 : #fca126,
  500 : #fc9000,
  600 : #fc8800,
  700 : #fb7d00,
  800 : #fb7300,
  900 : #fa6100,
  A100 : #ffffff,
  A200 : #fff3ed,
  A400 : #ffd1ba,
  A700 : #ffbfa1,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$chess-app-primary: mat.define-palette($primary-palette);
$chess-app-accent: mat.define-palette($secondary-palette);
$chess-app-warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme((color: (primary: $chess-app-primary,
        accent: $chess-app-accent,
        warn: $chess-app-warn,
      ),
    ));

@include mat.all-component-themes($dark-theme);

.light-theme{
  $light-theme: mat.define-light-theme((color: (primary: $chess-app-primary,
        accent: $chess-app-accent,
        warn: $chess-app-warn,
      ),
    ));

  @include mat.all-component-themes($light-theme);
}
